<div class='container w-96 px-4 py-2 space-y-1'>
  <% @cards.each do |card| %>
    <div id='<%=dom_id(card)%>' class='border border-slate-400 rounded' data-reflex='click->card#edit'>
      <%= card.content %> &nbsp;
    </div>
  <% end %>

  <%= render partial: 'form', locals: { card: Card.new } %>
</div>
